/*reset*/
html {
  font-size: 20px;
}
body {
  margin: 0;

  font-size: 16px;
  font-family: "MicrosoftJhengHei","Microsoft YaHei";
}
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
input {
  padding-top: 0;
  padding-bottom: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}

/*main*/
body {
  background-color: #eeeeed;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*header*/
header {
  height: 57px;
  box-shadow: 0 0 1px 1px #629cca;

  background-color: #2189bf;
}
header img {
  margin-left: 51px;
  margin-top: 10px;
}
.header-input {
  position: relative;
  float: right;
  margin-top: 14px;
  width: 285px;
}
header input {
  position: absolute;
  z-index: 2;
  width: 260px;
  height: 28px;
  border: 0;
  padding-left: 24px;

  outline: none;
  background: url('../img/search.png') #fff no-repeat;
  background-position: center left;
}
.header-input:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: -14px;

  border: 14px solid #fff;
  border-radius: 50%;

}
.header-input:before {
  content: "";
  position: absolute;
  z-index: 1;
  right: -14px;

  border: 14px solid #fff;
  border-radius: 50%;

}
header button {
  float: right;
  margin-left: 39px;
  margin-right: 7.34375%;
  margin-top: 20px;
  padding-left: 18px;
  border: 0;

  color: #fff;
  background: url('../img/login.png') no-repeat;
  background-position: center left;
  outline: none;
  cursor: pointer;
  font-family: "MicrosoftJhengHei","Microsoft YaHei";
  font-size: .6rem;
}

/*main-left*/
.main-left-color {
  background-color: #2a2e3d;
}
.main-left {
  float: left;
  width: 260px;
  height: 100%;

  background-color: #2a2e3d;
  color: #6e8095;
  font-size: .6rem;
  font-weight: 600;
}
.main-l-now,
.main-l-detail div:hover,
.main-l-body li > span:hover {
  color: #ededef;
  cursor: pointer;
}
.main-l-li-now,
.main-l-body li:hover {
  background-color: #383d4e !important;
  cursor: pointer;
}
.main-l-body li:hover > span {
  color: #ededef;
}
.main-l-header {
  position: relative;
  float: left;
  width: 46px;
  height: 46px;
  border-radius: 50%;

  background-color: #b2aaad;
}
.main-l-header:after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;

  width: 54px;
  height: 54px;
  border: 1px solid #b2aaad;
  border-radius: 50%;
}
.main-l-header img {
  width: 100%;
}
.main-l-top {
  margin-top: 23px;
  margin-left: 51px;
}
.main-l-top > span {
  display: inline-block;
  padding-left: 23px;
  padding-top: 14px;

  font-size: .8rem;
  font-weight: normal;
}
.main-l-detail {
  margin-top: 40px;
  margin-left: -19px;
}
.main-l-detail > div {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
}
.main-l-d-border {
  border-left: 2px solid #313645;
}
.main-l-body {
  margin-top: 19px;
}
.main-l-body > ul > li {
  padding-left: 70px;
  padding-top: 14px;
  padding-bottom: 14px;

  background-position: 45px center;
}
.main-l-li-now {
  background-position: 45px 15px !important;
}
.main-l-li-now > ul > li {
  padding-left: 40px;
}
.main-l-li-now ul > li {
  margin-top: 12px;
  margin-bottom: 12px;

  background-position-y: 3px;
}
.ico-bfile li {
  padding-left: 20px;
}

/*ico*/
.ico-chart {
  background: url('../img/ico-bchart.png') no-repeat;
}
.ico-doc {
  background: url('../img/ico-doc.png') no-repeat;
}
.ico-doc:hover {
  background: url('../img/ico-bdoc.png') no-repeat;
  background-position-y: 3px;
}
.ico-bdoc {
  background: url('../img/ico-bdoc.png') no-repeat;
}
.ico-file {
  background: url('../img/ico-file.png') no-repeat;
}
.ico-file:hover {
  margin-left: -3px;
  padding-left: 43px !important;

  background: url('../img/ico-bfile.png') no-repeat;
  background-position-y: 3px;
}
.ico-bfile {
  margin-left: -3px;
  padding-left: 43px !important;
  background: url('../img/ico-bfile.png') no-repeat;
}
.ico-count {
  background: url('../img/ico-count.png') no-repeat;
}
.ico-share {
  background: url('../img/ico-share.png') no-repeat;
}
.ico-star {
  background: url('../img/ico-star.png') no-repeat;
}


/*main-right*/
.main-right {
  margin-left: 260px;
  padding-bottom: 146px;

  font-size: .6rem;
  background-color: #eeeeed;
}
.main-r-header {
  height: 30px;
  padding-left: 30px;
  line-height: 30px;

  background-color: #fff;
  color: #aaa;
}
.main-r-header span {
  margin-right: 15px;

  cursor: pointer;
}
.main-r-header li {
  position: relative;
  margin-left: 9px;
  margin-right: 9px;

  cursor: pointer;
}
.main-r-h-now,
.main-r-header span:hover,
.main-r-header li:hover {
  color: #2189bf;
}
.main-r-header li,
.main-r-header ul {
  display: inline-block;
}
.main-r-header li:before {
  content: "/";
  position: absolute;
  left: -12px;

  color: #aaa !important;
  cursor: default;
}
.main-r-header li:before:hover {
  color: #aaa !important;
}
/*main-r-body*/
.main-r-body {
  width: 890px;
  margin-top: 19px;
  margin-left: 60px;
}
.main-r-body > div {
  background-color: #fff;
}
/*line1*/
.main-r-b-search {
  height: 71px;
  padding-top: 15px;
  padding-left: 12px;
  margin-bottom: 8px;
  border: 1px solid #dddbdc;

  color: #aaa;
}
.main-r-b-search div {
  position: relative;
  display: inline-block;
  margin-right: 23px;

  vertical-align: top;
}
.main-r-b-search span {
  margin-left: 16px;
  margin-right: 10px;
}
.main-r-b-search select {
  padding: 4px 14px 4px 10px;
  border: 1px solid #c2c3c4;
  margin-bottom: 6px;

  font-size: 12px;
  color: #323333;
  background: url('../img/select-black.png') no-repeat 95%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}
.main-r-b-search img {
  position: absolute;
  top: 8px;
  right: -30px;

  cursor: pointer;
}
.main-r-b-s-last {
  width: 320px;
  margin-left: 22px;
}
.main-r-b-s-width1 {
  width: 68px;
}
.main-r-b-s-width2 {
  width: 118px;
}
.main-r-b-s-last input[type="date"] {
  width: 115px;
  border: 1px solid #c2c3c4;
}
/*line2*/
.main-r-b-timep {
  margin-bottom: 20px;
}
.main-r-b-timep li {
  display: inline-block;
  height: 62px;
  border-top: 1px solid #dddbdc;
  border-left: 1px solid #dddbdc;

  background-color: #fff;
  color: #323333;
  vertical-align: top;
  cursor: pointer;
}
.main-r-b-t-d-left {
  background: url('../img/btn-left.png') no-repeat;
}
.main-r-b-t-d-right {
  background: url('../img/btn-right.png') no-repeat;
}
.main-r-b-t-dis {
  width: 30px;

  background-position: center center;
}
.main-r-b-t-detail {
  width: 110px;
}
.main-r-b-t-detail:hover,
.main-r-b-t-d-now {
  height: 60px !important;
  border-top: 3px solid #4388c9 !important;
}
.main-r-b-t-d-now p:nth-child(1) {
  padding-top: 8px;
}
.main-r-b-t-detail:hover p {
  padding-top: 8px;
}
.main-r-b-t-detail p {
  padding-top: 10px;
  padding-left: 27px;
}
.font-cgrey {
  margin-left: -4px;
  padding-top: 2px !important;

  color: #acacab;
}
.font-corange {
  color: #ec6500;
  font-size: 1.05rem;
}
.main-r-b-t-query {
  width: 131px;
}
.main-r-b-t-query img {
  margin-top: 15px;
  margin-left: 20px;
}
.main-r-b-t-query span {
  display: inline-block;
  margin-left: 10px;
  margin-top: 22px;

  vertical-align: top;
}
/*line3*/
.main-r-b-count {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 13px;
}
.main-r-b-count li {
  position: relative;
  display: inline-block;
  width: 197px;
  height: 65px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 5px;
  border-left: 3px solid #fff;
  box-shadow: 0 0 2px 1px #d2cfd2;

  background-color: #fff;
}
.main-r-b-count li p {
  margin-top: 10px;
  margin-left: 8px;
}
.main-r-b-c-specilap {
  color: #aaa;
}
.main-r-b-count li:nth-child(1) {
  border-left: 3px solid #43b29e;
}
.main-r-b-count li:nth-child(1):after {
  content: "";
  position: absolute;
  top: 12px;
  right: 14px;

  display: block;
  width: 58px;
  height: 46px;

  background-color: #43b29e;
}
.main-r-b-count li:nth-child(2) {
  border-left: 3px solid #388ac1;
}
.main-r-b-count li:nth-child(2):after {
  content: "";
  position: absolute;
  top: 12px;
  right: 14px;

  display: block;
  width: 58px;
  height: 46px;

  background-color: #388ac1;
}
.main-r-b-count li:nth-child(3) {
  border-left: 3px solid #d04a36;
}
.main-r-b-count li:nth-child(3):after {
  content: "";
  position: absolute;
  top: 12px;
  right: 14px;

  display: block;
  width: 58px;
  height: 46px;

  background-color: #d04a36;
}
.main-r-b-count li:nth-child(4) {
  border-left: 3px solid #e2cd46;
}
.main-r-b-count li:nth-child(4):after {
  content: "";
  position: absolute;
  top: 12px;
  right: 14px;

  display: block;
  width: 58px;
  height: 46px;

  background-color: #e2cd46;
}
/*line4,5*/
.main-r-b-l-block1 {
  width: 530px;
}
.main-r-b-l-block1 label {
  display: inline-block;
  width: 83px;
  height: 24px;
  padding-top: 4px;
  border-radius: 3px;

  background-color: #ededf0;
  text-align: center;
  cursor: pointer;
  -webkit-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
  transform: translateY(1px);
}
.firstlabel {
  margin-left: 18px;
}
.main-r-b-l-block1 input {
  display: none;
}
.main-r-b-l-block1 input:checked + label {
  border-top: 1px solid #cbcccc;
  border-left: 1px solid #cbcccc;
  border-right: 1px solid #cbcccc;

  background-color: #fff;
}
.main-r-b-buy {
  width: 490px;
  height: 250px;
  border: 1px solid #cbcccc;
  margin-left: 18px;
}
.main-r-b-buy table {
  border-collapse: collapse;
  margin-top: 28px;
  margin-left: 36px;
}
.main-r-b-buy td {
  border: 1px solid #dfdfdf;
  padding: 8px 18px;

  cursor: pointer;
}
.main-r-b-buy td:hover {
  background-color: #f4f5f6;
}

.main-r-b-l-block2 {
  width: 350px;
  margin-left: 9px;
}
.main-r-b-l-block3 {
  width: 350px;
}
.main-r-b-l-block4 {
  width: 530px;
  margin-left: 9px;
}

.main-r-b-l-body > * {
  width: 280px;
  margin-left: 36px;
}
.main-r-b-l-body > div {
  border-bottom: 1px solid #e9e8e8;
}
.main-r-b-l-body p {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 12px;
}
.main-r-b-l-b-detail > div {
  display: inline-block;
}
.main-r-b-l-b-detail > div:nth-child(1) {
  padding-right: 46px;
  border-right: 1px solid #e9e8e8;
}
.font-detail {
  margin-left: 48px !important;
}
#ckbox1 {
  display: none;
}
.ckbox {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 12px;
  margin-right: 8px;
  margin-top: 10px;
  border: 1px solid #e9e8e8;

  cursor: pointer;
  vertical-align: text-bottom;
}
#ckbox1:checked + label div {
  background: url('../img/checkbox.jpg') no-repeat;
}
.main-r-b-l-body button {
  margin-left: 120px;
}
.main-r-b-l-block4 {
  overflow-y: auto;
}
.main-r-b-l-block4 table {
  border-collapse: collapse;
  margin-top: 28px;
  margin-left: 36px;
  margin-bottom: 28px;
}
.main-r-b-l-block4 th,
.main-r-b-l-block4 td {
  padding: 5px 28px;

  border: 1px solid #dfdfdf;
}
.main-r-b-l-block4 td > span {
  display: inline-block;
  width: 166px;
  height: 5px;
  margin-left: 20px;

  background-color: #dcdcdc;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}
.main-r-b-l-block4 td > span:after {
  content: "";
  display: block;
  height: 100%;
}

.brandbar-1:after {
  width: 80%;
  background-color: #ed6e52;
}
.brandbar-2:after {
  width: 70%;
  background-color: #ef8150;
}
.brandbar-3:after {
  width: 60%;
  background-color: #fe9f4f;
}
.brandbar-4:after {
  width: 55%;
  background-color: #7fcbf0;
}
.brandbar-5:after {
  width: 50%;
  background-color: #7fcbf0;
}
.brandbar-6:after {
  width: 45%;
  background-color: #7fcbf0;
}
.brandbar-7:after {
  width: 40%;
  background-color: #7fcbf0;
}
.brandbar-8:after {
  width: 35%;
  background-color: #7fcbf0;
}
.brandbar-9:after {
  width: 30%;
  background-color: #7fcbf0;
}
.brandbar-10:after {
  width: 25%;
  background-color: #7fcbf0;
}

.main-r-b-l-block4 tr {
  cursor: pointer;
}
.main-r-b-l-block4 tr:hover {
  background-color: #f4f5f6;
}

.block3-wrap {
  margin-left: 20px;
}
.main-r-b-l-block3 li {
  display: inline-block;
  margin-top: 8px;
  padding: 10px 16px;
  border-top: 1px solid #b2cfed;
  border-bottom: 1px solid #e3e3e4;
}
.main-r-b-l-block3 td {
  display: inline-block;
  width: 39px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #fff;

  text-align: center;
  cursor: pointer;
}
.date-choosed,
.main-r-b-l-block3 td:hover {
  border: 1px solid #f4c21d !important;
}
.block3-wrap select {
  width: 70px;
  height: 20px;
  padding-left: 5px;
  border: 1px solid #cfcfd0;

  background: url('../img/date-select.png') no-repeat 95%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}
.block3-wrap button {
  width: 80px;
  height: 20px;
  margin-left: 6px;
  border: 1px solid #cfcfd0;

  background-color: #fff;
  cursor: pointer;
}

.font-cgrey2 {
  color: #c3c2c2;
}
.t-detail {
  width: 256px;
  height: 128px;
  border: 0;
  border-bottom: 1px solid #e9e8e8;
  padding-left: 12px;
  padding-right: 12px;

  outline: none;
  resize: none;
}
.date-red {
  color: #c9161d;
}

/*search btn*/
.main-r-searchbtn {
  width: 50px;
  height: 26px;
  margin-top: 14px;
  border: 0;
  border-radius: 3px;

  color: #fff;
  background-color: #388ac1;
  cursor: pointer;
}
/*listblock*/
.main-r-b-listblock {
  display: inline-block;
  height: 356px;
  margin-bottom: 8px;

  box-shadow: 0 0 2px 1px #cfcdcf;
  border-radius: 7px;
  vertical-align: top;
}
.main-r-b-l-header {
  height: 40px;
  margin-bottom: 16px;
  border-bottom: 1px solid #e6e6e8;
  border-radius: 7px 7px 0 0;

  background-color: #f4f5f6;
  color: #aaa;
}
.main-r-b-l-header p {
  padding-top: 14px;
  padding-left: 18px;
}
h3 {
  margin-bottom: 5px;
}
